{% extends 'inventur/base.html' %}
{% block body %}
<h1 class="text-2xl m-10">Register new Location</h1>

<div class="container py-5">
<form method="POST" class="bg-white shadow-md m-10 w-2/5 rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    <div class="mb-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="">Location Name</label>
        <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10"> {{ form.loc_name }}</div>
    </div>
    <div class="mb-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="">Beschreibung</label>
        <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10"> {{ form.loc_description }}</div>
    </div>
    <div class="mb-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="">Typ</label>
        <div class="shadow text-gray-700 appearance-none border rounded py-2 px-3 mr-10"> {{ form.boxtyp }}</div>
    </div>
       
    <button class="text-white bg-green-500 px-5 py-2 my-5" type="submit">Save</button>
</form>
</div>

{% endblock%}








