{% extends 'inventur/base.html' %}
{% block body %}
<h2 class="text-2xl m-10 font-bold"> </h2>
<h2 class="inline text-2xl m-10 font-bold">Index List of Locations</h2>
<div class="container py-5 mx-10">
    
    <table class="min-w-full text-left text-sm font-light text-surface dark:text-white">
        <thead class="border-b border-neutral-200 font-medium dark:border-white/10"></thead>
          <tr>
            <th class="px-6 py-4">Location Name</th>
            <th class="px-6 py-4">Box Size</th>
            <th class="px-6 py-4">Start Inventur</th>
            <th class="px-6 py-4">Description</th>
          </tr>
        </thead>
        <tbody>
            {% for location in locations %}
          <tr class="border-b border-neutral-200 dark:border-white/10">
            <td class="whitespace-nowrap px-6 py-4">{{location.loc_name}}</td>
            <td class="whitespace-nowrap px-6 py-4">{{location.boxtyp}}</td>
            <td class="whitespace-nowrap px-6 py-4"><a href="startinventur/{{location.id}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Start</a></td>
            <td class="whitespace-nowrap px-6 py-4">{{location.boxtyploc_description}}</td>
          </tr>
          {% endfor %}
          <tbody>
      </table>

      </div>
      <h2 class="text-2xl m-10 font-bold">Index List of Inventuren</h2>
      <div class="container py-5 mx-10">
          
          <table class="min-w-full text-left text-sm font-light text-surface dark:text-white">
              <thead class="border-b border-neutral-200 font-medium dark:border-white/10"></thead>
                <tr>
                  <th class="px-6 py-4">Location Name</th>
                  <th class="px-6 py-4">Erstellt</th>
                  <th class="px-6 py-4">Aktualisiert</th>
                  <th class="px-6 py-4">Mitarbeiter</th>
                  <th class="px-6 py-4">Ansicht</th>
                </tr>
              </thead>
              <tbody>
                  {% for inventur in inventurs %}
                <tr class="border-b border-neutral-200 dark:border-white/10">
                  <td class="whitespace-nowrap px-6 py-4">{{inventur.inv_name}}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{inventur.created_at}}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{inventur.updated_at}}</td>
                  <td class="whitespace-nowrap px-6 py-4">{{inventur.created_by}}</td>
                  <td class="whitespace-nowrap px-6 py-4"><a href="inventur/{{inventur.id}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">View</a></td>
                </tr>
                {% endfor %}
                <tbody>
            </table>
      
      


</div>
{% endblock %}


